@media (min-width: 1200px) {
  header {
    padding: 48px 0;
    align-items: center;
    justify-content: flex-start;
    .show-nav {
      display: none;
    }
    .hide-nav {
      display: none;
    }
    .logo {
      width: auto;
      display: flex;
      justify-content: flex-start;
      height: 14px;
      margin-left: 64px;
    }
    nav {
      display: initial;
      margin-left: 56px;
      ul {
        li {
          margin: 0 30px 0 0;
          font-size: 14px;
          color: $white;
          position: relative;
          &:hover {
            &::after {
              content: "";
              height: 2px;
              width: 60%;
              position: absolute;
              bottom: -8px;
              left: 20%;
              background-color: $white;
            }
          }
        }
      }
    }
    &.collapse {
      // background-color: $white !important;
      // justify-content: space-between;
      // .show-nav {
      //   display: none;
      // }
      // .hide-nav {
      //   display: initial;
      // }
      // .logo {
      //   display: none;
      // }
      // nav {
      //   display: initial;
      //   ul {
      //     li {
      //     }
      //   }
      // }
    }
    &.scrolled {
      background-color: $black;
    }
  }

  .slider {
    display: grid;
    grid-template-columns: 840px 1fr;
    .slider-image-container {
      width: 840px;
      height: fit-content;
      .slider-controls {
        left: 100%;
        right: unset;
        div {
          padding: 28px 33px;
          &:hover {
            background-color: $very-dark-gray;
          }
        }
      }
    }
    .slider-text-container {
      padding: 120px 100px 0;
      h1 {
        font-size: 38px;
        line-height: 44px;
        margin: 0 0 30px;
      }
      p {
        font-size: 11.5px;
      }
      #shop-now-btn {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 10.5px;
        text-transform: uppercase;
        margin: 56px 0 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
          margin-left: 32px;
        }
        &:hover {
          color: $dark-gray;
          img {
            filter: opacity(0.5);
          }
        }
      }
    }
  }

  .about {
    width: 100%;
    display: grid;
    flex-direction: unset;
    grid-template-columns: 420px 1fr 440px;
    .about-text-container {
      margin: 0;
      padding: 72px 48px 0;
      h2 {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 6px;
        margin: 0 0 18px;
        text-transform: uppercase;
      }
      p {
        font-size: 11.5px;
      }
    }
  }
}
